<div class="container-fluid">
  <div class="row py-5 bg-escuro">
    <div class="col-md-6 mx-auto bg-cinza-fade py-5 px-3">
      <h2 class="text-center text-roxo titulo-cadastro">
        <span><i class="fas fa-key"></i></span> Solicitar Acesso
      </h2>
      <!-- Nome -->
      <div class="area-form-cadastro mt-5 col mx-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="nomeuser"
              ><i class="fas fa-user"></i
            ></label>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Nome Completo"
            aria-label="Nome Completo"
            id="nomeuser"
          />
        </div>
        <!-- E-mail -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text" for="emailuser"
              ><i class="fas fa-envelope"></i
            ></label>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="E-mail Corporativo"
            aria-label="E-mail Corporativo"
            id="emailuser"
          />
        </div>
        <!-- Empresa -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text" for="empresauser"
              ><i class="fas fa-building"></i
            ></label>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Empresa"
            aria-label="Empresa"
            id="empresauser"
          />
        </div>
        <!-- Cargo -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text" for="cargouser"
              ><i class="fas fa-suitcase"></i
            ></label>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Cargo"
            aria-label="Cargo"
            id="cargouser"
          />
        </div>
        <!-- button -->
        <div>
          <button
            type="button"
            class="btn bg-roxo text-claro btn-block col-md-8 mx-auto"
          >
            <span><i class="fas fa-paper-plane"></i></span> Enviar Solicitação
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mx-auto bg-cinza-fade my-auto py-5 px-3">
      <h2 class="text-center titulo-login text-ciano">
        <span><i class="fas fa-sign-in-alt"></i></span>
        Acessar Conta
      </h2>
      <div class="area-form-login mt-5 px-3 py-3">
        <!-- E-mail -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text" for="loginuser"
              ><i class="fas fa-envelope"></i
            ></label>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="E-mail Corporativo"
            aria-label="E-mail Corporativo"
            id="loginuser"
          />
        </div>
        <!-- Senha -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text" for="senhauser"
              ><i class="fas fa-lock"></i
            ></label>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            aria-label="Senha"
            id="senhauser"
          />
        </div>
        <!-- button -->
        <div>
          <button
            type="button"
            class="btn bg-ciano btn-block col-md-10 mx-auto text-escuro"
          >
            <span><i class="fas fa-door-open"></i></span> Entrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
