.titulo-cadastro {
  font-size: 1.8rem;
  font-weight: 400;
  border: 2px solid #ae58f8;
  color: #ae58f8 !important;
}

.titulo-login {
  font-size: 1.8rem;
  font-weight: 400;
  border: 2px solid var(--ciano);
}

.area-form-cadastro {
  border: 2px solid #ae58f8;
  padding: 30px;
}

.area-form-login {
  border: 2px solid var(--ciano);
  padding: 50px;
}

.container-fluid {
  border-bottom: 1px solid var(--cinza);
}

.bg-cinza-fade {
  background-color: rgba(81, 81, 81, 0.3);
}
