<div class="container-fluid">
  <div class="row py-5 bg-escuro">
    <div class="col-md-6 mx-auto bg-cinza-fade py-5 px-3">
      <h2 class="text-center text-roxo titulo-cadastro bg-escuro py-2">
        <span><i class="fas fa-lock fa-sm"></i></span><br />
        Solicitar Acesso
      </h2>
      <!-- Nome -->
      <div class="area-form-cadastro bg-escuro mt-5 col mx-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text text-escuro" for="nomeuser"
              ><i class="fas fa-user"></i
            ></label>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Nome Completo"
            aria-label="Nome Completo"
            id="nomeuser"
            [(ngModel)]="this.nomeuser"
          />
        </div>
        <!-- E-mail -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text text-escuro" for="emailuser"
              ><i class="fas fa-envelope"></i
            ></label>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="E-mail Corporativo"
            aria-label="E-mail Corporativo"
            id="emailuser"
            [(ngModel)]="this.emailuser"
          />
        </div>
        <!-- Empresa -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text text-escuro" for="empresauser"
              ><i class="fas fa-building"></i
            ></label>
          </div>
          <select
            class="form-control"
            id="empresauser"
            [(ngModel)]="this.empresauser"
            (change)="getTerminal()"
          >
            <option value="0" selected disabled>Selecione o Terminal</option>
            <option
              *ngFor="let terminal of terminal.terminais"
              value="{{ terminal.id }}"
            >
              {{ terminal.nome }}
            </option>
          </select>
        </div>
        <!-- Cargo -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text text-escuro" for="cargouser"
              ><i class="fas fa-suitcase"></i
            ></label>
          </div>
          <select
            class="form-control"
            name="cargouser"
            id="cargouser"
            [(ngModel)]="this.cargouser"
            (change)="getCargo()"
          >
            <option value="0" selected disabled>Selecione o Cargo</option>
            <option *ngFor="let cargo of cargo.cargos" value="{{ cargo.id }}">
              {{ cargo.cargo }}
            </option>
          </select>
        </div>
        <!-- Senha -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text text-escuro" for="senhauser"
              ><i class="fas fa-lock"></i
            ></label>
          </div>
          <input
            type="password"
            class="form-control"
            aria-label="Senha"
            id="senhauser"
            [(ngModel)]="this.senhauser"
          />
        </div>
        <!-- button -->
        <!-- data-target="#confCadastro"
        data-toggle="modal" -->
        <div>
          <button
            type="button"
            class="btn bg-roxo text-claro btn-block col-md-8 mx-auto"
            (click)="cadastrarUsuario()"
          >
            Enviar Solicitação
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mx-auto bg-cinza-fade my-auto py-5 px-3">
      <h2 class="text-center titulo-login text-ciano bg-escuro py-2">
        <span><i class="fas fa-sign-in-alt fa-sm"></i></span><br />
        Acessar Conta
      </h2>
      <div class="area-form-login mt-5 px-3 py-3 bg-escuro">
        <!-- E-mail -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text text-escuro" for="loginuser"
              ><i class="fas fa-envelope"></i
            ></label>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="E-mail Corporativo"
            aria-label="E-mail Corporativo"
            id="loginuser"
          />
        </div>
        <!-- Senha -->
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text text-escuro" for="senhauser"
              ><i class="fas fa-lock"></i
            ></label>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            aria-label="Senha"
            id="senhauser"
          />
        </div>
        <!-- button -->
        <div>
          <button
            class="btn bg-ciano btn-block col-md-10 mx-auto text-escuro"
            (click)="logar()"
            [routerLink]="['../dashboard']"
          >
            Entrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="confCadastro"
  tabindex="-1"
  aria-labelledby="confCadastroLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-escuro">
        <p class="modal-title mx-auto text-claro" id="confCadastroLabel">
          <span><i class="fas fa-exclamation-circle"></i></span>
          Confirmação de Acesso
        </p>
      </div>
      <div class="modal-body">
        <p class="text-center h5 text-escuro">
          Você solicitou acesso à plataforma FAME
        </p>

        <p class="text-center">
          Nosso time fará uma análise de seu perfil, caso esteja tudo certo,
          seus dados de acesso serão enviados por
          <span class="text-roxo">e-mail</span>!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-ciano" data-dismiss="modal">
          Entendido
        </button>
      </div>
    </div>
  </div>
</div>
