<div class="container-fluid bg-escuro">
  <div class="row py-5 bg-cinza-fade" id="controles">
    <div class="col-md-8 mx-auto py-2">
      <div class="row">
        <div class="col">
          <button
            class="btn bg-roxo text-light btn-block"
            (click)="fluxoAtual()"
          >
            <span><i class="fas fa-calendar-day"></i></span> Ver Fluxo Atual
          </button>
        </div>
        <div class="col">
          <button
            class="btn bg-roxo text-light btn-block"
            (click)="fluxoAntigo()"
          >
            <span><i class="fas fa-history"></i></span> Ver Fluxo Antigo
          </button>
        </div>
        <div class="col">
          <a
            class="btn bg-roxo text-light btn-block"
            [routerLink]="['../paralisacao']"
            ><span><i class="fas fa-traffic-light"></i></span> Ver
            Paralisações</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row py-2 bg-cinza-fade">
    <div class="col-md-10 mx-auto">
      <div class="alert bg-escuro my-1 text-light">
        <span><i class="fas fa-info-circle text-ciano"></i></span> Última
        atualização: {{ dataAtualizacao }}
      </div>
      <canvas #grafico width="400"></canvas>
    </div>
  </div>
</div>
