<div class="container-fluid bg-escuro">
  <div class="row py-5 bg-cinza-fade" id="controles">
    <div class="col-md-8 mx-auto py-3">
      <div class="row">
        <div class="col">
          <a class="btn bg-roxo text-light btn-block"
            ><span><i class="fas fa-calendar-day"></i></span> Ver Fluxo Atual</a
          >
        </div>
        <div class="col">
          <a class="btn bg-roxo text-light btn-block"
            ><span><i class="fas fa-history"></i></span> Ver Fluxos Antigos</a
          >
        </div>
        <div class="col">
          <a class="btn bg-roxo text-light btn-block"
            ><span><i class="fas fa-traffic-light"></i></span> Ver
            Paralisações</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row py-5 bg-cinza-fade">
    <div class="col-md-10 mx-auto">
      <div id="fluxo-atual" class="text-center">
        <img
          src="https://raw.githubusercontent.com/PedroSalvino/fame-5plzux/58effa80765b30483dc2d2027dfe5e12f462f579/src/assets/grafico-exemplo.svg"
        />
      </div>

      <div class="alert bg-escuro my-3 text-light">
        <span><i class="fas fa-info-circle text-ciano"></i></span> Legenda |
      </div>
    </div>
  </div>
</div>
