<div class="container-fluid">
  <div class="row" id="controles">
    <div class="col-md-8 mx-auto">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#fluxo-atual" role="tab"
            ><span><i class="fas fa-arrow-down"></i></span> Fluxo Atual</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#fluxo-antigo" role="tab"
            ><span><i class="fas fa-calendar-alt"></i></span> Ver Fluxos
            Antigos</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="#fluxo-paralisacao" role="tab"
            ><span><i class="fas fa-traffic-light"></i></span> Ver
            Paralisações</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div id="grafico" class="text-center">
        <img
          src=""
        />
      </div>
    </div>
  </div>
</div>
