<div class="container-fluid bg-escuro">
  <div class="row py-5 bg-cinza-fade">
    <div class="col-md-10 py-3 px-3 mx-auto">
      <h2 class="text-center text-roxo titulo bg-escuro py-2">
        <span><i class="fas fa-user-circle"></i><br />Meu Perfil</span>
      </h2>

      <div class="area-form bg-escuro mt-5">
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <label class="input-group-text text-roxo" for="nomeperfil"
              ><i class="fas fa-user"></i
            ></label>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Nome Completo"
            aria-label="Nome Completo"
            id="nomeperfil"
            value="{{ this.usuarioPicked.nome }}"
            [(ngModel)]="this.nome"
          />
        </div>
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text text-roxo" for="emailperfil"
              ><i class="fas fa-envelope"></i
            ></label>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="usuario@comercial.com.br"
            aria-label="E-mail Corporativo"
            id="emailperfil"
            value="{{ this.usuarioPicked.login }}"
            [(ngModel)]="this.email"
          />
        </div>
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label class="input-group-text text-roxo" for="senhaperfil"
              ><i class="fas fa-lock"></i
            ></label>
          </div>
          <input
            type="password"
            class="form-control"
            aria-label="CPF"
            id="senhaperfil"
            [(ngModel)]="this.senha"
          />
        </div>
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label
              class="input-group-text text-claro bg-cinza"
              for="empresaperfil"
              ><i class="fas fa-building"></i
            ></label>
          </div>
          <input
            type="text"
            class="form-control bg-cinza text-claro"
            placeholder="Empresa"
            aria-label="Empresa"
            id="empresaperfil"
            [(ngModel)]="this.empresa"
            value="{{ this.usuarioPicked.terminal[0].nome }}"
            readonly
          />
        </div>
        <div class="input-group my-5">
          <div class="input-group-prepend">
            <label
              class="input-group-text text-claro bg-cinza"
              for="cargoperfil"
              ><i class="fas fa-suitcase"></i
            ></label>
          </div>
          <input
            type="text"
            class="form-control bg-cinza text-claro"
            placeholder="Cargo"
            aria-label="Cargo"
            id="cargoperfil"
            [(ngModel)]="this.cargo"
            value="{{ this.usuarioPicked.cargo.cargo }}"
            readonly
          />
        </div>
        <div>
          <button
            type="button"
            class="btn bg-ciano btn-block col-md-8 mx-auto"
            data-toggle="modal"
            data-target="#confPerfil"
          >
            Salvar Alterações
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="confPerfil"
  tabindex="-1"
  aria-labelledby="confPerfilLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-escuro">
        <p class="modal-title mx-auto text-claro" id="confPerfilLabel">
          <span class="mr-1"><i class="fas fa-exclamation-circle"></i></span>
          Confirmação de Alteração
        </p>
      </div>
      <div class="modal-body">
        <p class="text-center text-escuro my-auto h5">
          Deseja salvar as alterações?
        </p>
        <p class="text-escuro text-center my-2">
          Ao clicar em <strong>CONFIRMAR</strong> os dados cadastrados serão
          alterados instantaneamente
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn bg-cinza text-claro"
          data-dismiss="modal"
        >
          Fechar
        </button>
        <button
          type="button"
          class="btn bg-roxo text-claro"
          data-dismiss="modal"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
