<div class="container-fluid bg-escuro">
  <div class="row py-3">
    <div class="col">
      <table class="table table-light">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col">Usuário</th>
            <th scope="col">E-mail Corporativo</th>
            <th scope="col">Empresa</th>
            <th scope="col">Cargo</th>
            <th scope="col">Status</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <th scope="row">Karoline Teodoro da Silva</th>
            <td>karoline.silva9@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Inativo</td>
            <td><button class="btn bg-ciano btn-block">Ativar</button></td>
          </tr>
          <tr>
            <th scope="row">Pedro Luiz Souza Salvino</th>
            <td>pedro.salvino@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Ativo</td>
            <td>
              <button class="btn bg-roxo btn-block text-claro">
                Desativar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">Wesley Nascimento Silva</th>
            <td>wesley.silva174@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Inativo</td>
            <td><button class="btn bg-ciano btn-block">Ativar</button></td>
          </tr>
          <tr>
            <th scope="row">Karoline Teodoro da Silva</th>
            <td>karoline.silva9@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Inativo</td>
            <td><button class="btn bg-ciano btn-block">Ativar</button></td>
          </tr>
          <tr>
            <th scope="row">Pedro Luiz Souza Salvino</th>
            <td>pedro.salvino@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Ativo</td>
            <td>
              <button class="btn bg-roxo btn-block text-claro">
                Desativar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">Wesley Nascimento Silva</th>
            <td>wesley.silva174@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Inativo</td>
            <td><button class="btn bg-ciano btn-block">Ativar</button></td>
          </tr>
          <tr>
            <th scope="row">Karoline Teodoro da Silva</th>
            <td>karoline.silva9@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Inativo</td>
            <td><button class="btn bg-ciano btn-block">Ativar</button></td>
          </tr>
          <tr>
            <th scope="row">Pedro Luiz Souza Salvino</th>
            <td>pedro.salvino@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Ativo</td>
            <td>
              <button class="btn bg-roxo btn-block text-claro">
                Desativar
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">Wesley Nascimento Silva</th>
            <td>wesley.silva174@fatec.sp.gov.br</td>
            <td>Fatec Baixada Santista - Rubens Lara</td>
            <td>Estudante</td>
            <td>Inativo</td>
            <td><button class="btn bg-ciano btn-block">Ativar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
