<div class="container-fluid bg-escuro">
  <div class="row py-3">
    <div class="col">
      <table class="table table-light">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col">Usuário</th>
            <th scope="col">E-mail Corporativo</th>
            <th scope="col">Empresa</th>
            <th scope="col">Cargo</th>
            <th scope="col">Status</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let user of this.usuarios; index as i">
            <th scope="row">{{ user.nome }}</th>
            <td>{{ user.login }}</td>
            <td>{{ user.empresa[0].nome }}</td>
            <td>{{ user.cargo.nome }}</td>
            <td>{{ user.ativo }}</td>
            <td>
              <button
                *ngIf="user.ativo == false"
                class="btn bg-ciano btn-block"
              >
                Ativar
              </button>
              <button *ngIf="user.ativo == true" class="btn bg-roxo btn-block">
                Desativar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
