<nav class="navbar navbar-expand-lg navbar-dark bg-escuro">
  <a class="navbar-brand text-roxo" [routerLink]="['']"
    ><img
      class="logo"
      src="https://github.com/PedroSalvino/fame-5plzux/blob/master/src/assets/logo-navbar.png?raw=true"
      alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" *ngIf="auth.logado == false">
      <li class="nav-item active mx-auto">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="['active']"
          >Início</a
        >
      </li>
      <li class="nav-item mx-2">
        <a
          class="nav-link"
          [routerLink]="['acesso']"
          routerLinkActive="['active']"
          >Acessar</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['contato']"
          routerLinkActive="['active']"
          >Contato</a
        >
      </li>
    </ul>

    <div class="ml-auto" *ngIf="auth.logado == true">
      <button
        class="btn bg-ciano text-light"
        [routerLink]="['dashboard']"
        [routerLink]="['active']"
      >
        <i class="fas fa-tachometer-alt"></i>
        Fluxos
      </button>
      <button
        class="btn bg-roxo text-light mx-2"
        [routerLink]="['perfil']"
        [routerLink]="['active']"
      >
        <i class="fas fa-user"></i>
        Perfil
      </button>
      <button
        class="btn bg-cinza text-light"
        data-toggle="modal"
        data-target="#confLogout"
      >
        <i class="fas fa-power-off"></i>
        Sair
      </button>
    </div>
  </div>
</nav>

<div
  class="modal fade"
  id="confLogout"
  tabindex="-1"
  aria-labelledby="confLogoutLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-escuro">
        <p class="modal-title mx-auto text-claro" id="confLogoutLabel">
          <span><i class="fas fa-exclamation-circle"></i></span>
          Confirmação de Logout
        </p>
      </div>
      <div class="modal-body">
        <p class="text-center text-escuro my-auto h6">Deseja mesmo sair?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn bg-cinza text-claro"
          data-dismiss="modal"
        >
          Não
        </button>
        <button
          type="button"
          class="btn bg-roxo text-claro"
          data-dismiss="modal"
          [routerLink]="['']"
          (click)="auth.logout()"
        >
          Sim
        </button>
      </div>
    </div>
  </div>
</div>
