<nav class="navbar navbar-expand-lg navbar-dark bg-escuro">
  <a class="navbar-brand text-roxo" [routerLink]="['']"
    ><img
      class="logo"
      src="https://trello.com/1/cards/6245be38491205415be1b88a/attachments/6245cbf7d842de4af4456174/previews/6245cbf7d842de4af44561b5/download/logo-navbar.png"
      alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mx-auto">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="['active']"
          >Início</a
        >
      </li>
      <li class="nav-item mx-2">
        <a
          class="nav-link"
          [routerLink]="['acesso']"
          routerLinkActive="['active']"
          >Acessar</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['contato']"
          routerLinkActive="['active']"
          >Contato</a
        >
      </li>
    </ul>

    <div>
      <button
        class="btn bg-ciano text-light"
        [routerLink]="['dashboard']"
        [routerLink]="['active']"
      >
        <i class="fas fa-tachometer-alt"></i>
      </button>
      <button
        class="btn bg-roxo text-light mx-2"
        [routerLink]="['perfil']"
        [routerLink]="['active']"
      >
        <i class="fas fa-user"></i>
      </button>
      <button
        class="btn bg-cinza text-light"
        [routerLink]="['']"
        [routerLink]="['active']"
      >
        <i class="fas fa-power-off"></i>
      </button>
    </div>
  </div>
</nav>
