<div class="container-fluid">
  <div class="row py-5 bg-gradient" id="banner">
    <div class="col my-auto text-center">
      <h1 class="text-roxo">
        <img
          src="https://trello.com/1/cards/6245be38491205415be1b88a/attachments/6245cbf7d842de4af4456174/previews/6245cbf7d842de4af44561b5/download/logo-navbar.png"
          alt=""
        />
      </h1>
      <p class="text-claro">Fluxo de Acesso à Margem Esquerda</p>
    </div>
    <div class="col-md-8 text-center">
      <img
        class="img-banner"
        src="https://trello.com/1/cards/6245be38491205415be1b88a/attachments/6245c73a05ea0d4f044d913c/previews/6245c73b05ea0d4f044d915e/download/image-banner.png"
        alt=""
      />
    </div>
  </div>

  <div class="row py-5 bg-escuro">
    <div class="col-md-1"></div>
    <div class="col">
      <div class="card bg-cinza">
        <div class="card-header text-center">
          <span class="h5 text-ciano"><i class="fas fa-key"></i></span>
        </div>
        <div class="card-body text-center">
          <h2 class="card-title text-white">Solicitar Acesso</h2>
          <p class="card-text text-claro">Solicite aqui seu primeiro acesso</p>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-block bg-roxo text-claro"
            [routerLink]="['acesso']"
          >
            Solicitar Acesso
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-cinza">
        <div class="card-header text-center">
          <span class="h5 text-ciano"><i class="fas fa-sign-in-alt"></i></span>
        </div>
        <div class="card-body text-center">
          <h2 class="card-title text-white">Acessar conta</h2>
          <p class="card-text text-claro">Entre e monitore o fluxo de hoje</p>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-block bg-ciano text-escuro"
            [routerLink]="['acesso']"
          >
            Entrar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-cinza">
        <div class="card-header text-center">
          <span class="h5 text-ciano"><i class="fas fa-envelope"></i></span>
        </div>
        <div class="card-body text-center">
          <h2 class="card-title text-white">Contato</h2>
          <p class="card-text text-claro">Entre em contato com a equipe</p>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-block bg-roxo text-claro"
            [routerLink]="['contato']"
          >
            Contatar
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>
